.markdown-wrapper {
    width: 900px;
    margin: auto;
    padding: 32px;
}

.markdown-body {
    display: inline-block;
    width: 100%;
    /*background-color: gray;*/
}

.markdown-body img {
    max-width: 100% !important;
    height: auto !important;
    display: inline;
    margin: 0 auto;
}

.markdown-body p {
    /*text-indent: 2em;*/
    margin-top: 12px !important;
    margin-bottom: 12px !important;;
}